* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      body {
        font-family: 'Roborto', sans-serif;
        font-size: 12px; /* Default size */
}

@tailwind base;
@tailwind components;
@tailwind utilities;